.landing{
    background-color: #4a0072; 
    height: 100vh;
    width: 100%;
    border: 3px solid #000000;
}




@media only screen and (max-width: 480px){
    .cover-page{
      display: none;
    }

    .login-frame{
        text-align: left;
        background-color: #ffffff !important;
        height: 60vh;
        width: 60vw;
        padding: 20px;
        border-radius: 10px;
        margin: 15vw;
    }

}


@media only screen and (min-width: 481px) and (max-width: 1199px){
    
    .cover-page{
       display: none;
    }

    .login-frame{
        text-align: left;
        background-color: #ffffff !important;
        height: 60vh;
        width: 60vw;
        padding: 20px;
        border-radius: 10px;
        margin: 15vw;
    }
}


@media only screen and (min-width: 1200px){
    .cover-page{
        height: 95vh;
        min-width: 30vw;
        display: inline-block;
        vertical-align: top;
    }

    .login-frame{

        background-color: #ffffff !important;
        height: 50vh;
        width: 40vw;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6vw;
        margin-right: 0 auto;
        margin-top: 10%;
        padding: 25px;
        border-radius: 10px;
    }
}

